{% extends 'base.html' %}

{% block content %}


    <div class="container">
        <div class="d-flex flex-wrap justify-content-around">
            {% for item in food %}

                <div class="maincontainer">
                    <div class="card" id="card{{ item.id }}">
                        <div class="front" id="front{{ item.id }}">

                            <div class="d-flex bd-highlight">
                                <div class="me-auto bd-highlight">
                                    <p style="font-size: 26px">{{ item.count }}</p>
                                </div>

                                <div class="ms-auto p-2 bd-highlight">
                                    {% if item.out %}
                                        <p>გასვლა</p>
                                    {% else %}
                                        <p>გამოძახება</p>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <h3 id="form-title">{{ item.restaurant }}</h3>
                            </div>
                            <div class="d-flex justify-content-center">
                                <hr style="width: 200px">
                            </div>
                            <div class="d-flex flex-wrap justify-content-center">

                                {% for user in item.users %}

                                    {{ user }}&nbsp&nbsp

                                {% endfor %}

                            </div>
                        </div>
                        <div class="back">
                            <div class="d-flex justify-content-center mt-1 mb-3">
                                <strong>დეტალური მენიუ:</strong>
                            </div>
                            <form method="POST" action="">
                                {% csrf_token %}
                                <input type="hidden" name="food" value="{{ item.meal }}"/>
                                <div class="d-flex justify-content-center">

                                    <textarea required style="resize: none" name="text"
                                              placeholder="შეიყვანეთ ტექსტი..." id="detailinput"
rows="3">{% if info.note and item.meal == info.meal_id and item.out == info.out %}{{ info.note }}{% endif %}</textarea>

                                </div>

                                <div class="d-flex justify-content-center mt-4">
                                    <div class="form-check form-switch">
                                        <input {% if info.orderer %}checked{% endif %} class="form-check-input"
                                               name="checkbox"
                                               type="checkbox" id="flexSwitchCheckDefault2">
                                        <label class="form-check-label" for="flexSwitchCheckDefault2">შემიძლია
                                            გადახდა</label>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-center mt-4">
                                    <button class="btn btn-danger btn-hungry" id="back_button{{ item.id }}"
                                            type="button">
                                        უკან
                                    </button>
                                    <button class="btn btn-danger btn-hungry" type="submit" name="out"
                                            value="{{ item.out }}">
                                        დადასტურება
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>


    <script>
        {% for item in food %}
            let card{{ item.id }} = document.getElementById("card" + "{{ item.id }}")
            let front{{ item.id }} = document.getElementById("front" + "{{ item.id }}")
            let back{{ item.id }} = document.getElementById("back_button" + "{{ item.id }}")

            front{{ item.id }}.addEventListener('click', () => {
                card{{ item.id }}.classList.toggle('flip-card');
            })

            back{{ item.id }}.addEventListener('click', () => {
                card{{ item.id }}.classList.toggle('flip-card');
            })
        {% endfor %}
    </script>
{% endblock %}
