{% extends 'base.html' %}

{% block content %}
    {#    <div class="row my-3 p-3">#}
    {#        <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }} " style="cursor: pointer;"/>#}
    {#    </div>#}

    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">

                    <h3 id="form-title">{{ request.user }}</h3>

                </div>
                {% if user_form.errors %}
                    <div class="d-flex justify-content-center">

                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div id="form_errors">
                                {% for key, value in user_form.errors.items %}
                                    <strong>{{ value }}</strong>
                                {% endfor %}
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                    </div>
                {% endif %}
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="d-flex justify-content-center mt-3">
                        <div class="form-group">
                            <label class="small mb-1">სახელი:</label>
                            {{ user_form.username }}
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button class="btn btn-danger" name="button" value="name" type="submit">შენახვა</button>
                    </div>
                </form>


                <div class="d-flex justify-content-center mt-4 mb-1">
                        <a href="{% url 'change_password' %}">პაროლის შეცვლა</a>
                </div>

                <hr style="height: 2px">

                <div class="d-flex justify-content-center mt-3">
                        <label class="small mb-1">არასასურველი საკვები:</label>
                </div>

                <div class="d-flex justify-content-center mt-4">
                    <form method="POST" action="">
                        {% csrf_token %}


                        <select name="food" onchange="func()" id="select">
                            <option value="" selected disabled hidden>
                                აირჩიე
                            </option>
                            {% for option in food %}
                                <option value="{{ option.id }}">{{ option.food_item }}</option>
                            {% endfor %}
                        </select>

                        <div class="d-flex justify-content-center mt-4 mb-3">
                            <button class="btn btn-danger" name="button" value="food" type="submit">დამატება</button>
                        </div>
                    </form>
                </div>

                {% if unwanted %}
                    <form method="POST" action="">
                        {% csrf_token %}
                        {% for item in unwanted %}
                            <div class="d-flex justify-content-center mt-3">
                                <p class="unwanted_list">{{ item }}</p>
                                <div style="margin-left: 5px; transform: scale(0.7);">
                                    <button class="close" name="delete" value="{{ item.id }}"
                                            aria-label="Close"></button>
                                </div>
                            </div>
                        {% endfor %}
                    </form>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}


