body, html {
    margin: 0;
    padding: 0;
    height: 92%;
    /*background: rgb(238, 238, 238) !important;*/
}

body{
    background-image: url("../images/mcback.png");
    background-size: cover;
}

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user_card {
    width: 600px;
    margin-top: 120px;
    margin-bottom: auto;
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    color: #797979;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.result-card {
    width: 400px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1700px;
    }
}

.home-card:hover {
    transform: scale(1.1);
}

.home-btn:focus {
    outline: none !important;
    border: none transparent !important;
}

/*.home-card-wrap {*/
/*    justify-content: space-evenly !important;*/
/*}*/

.form_container {
    margin-top: 20px;
}

#form-title {
    color: #fff;
}

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    width: 40px;
    background: #797979 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user, .input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

#form-title {
    color: #797979;
}

.messages {
    background-color: rgba(255, 0, 0, 0.1);
    color: #bd182a;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
}

.messages-login {
    background-color: rgba(72, 255, 0, 0.1);
    color: #0e7c2f;
}

#detailinput {
    /*font-size: 20px;*/
    border-radius: 10px;
    /*background-color: white;*/
    padding: 10px;
}

.review-info {
    font-size: 20px;
    font-weight: bold;
}

.edit-btn {
    background: none;
    color: #007bff;
    border: none;
    padding: 0;
    margin-left: 10px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 14px;
}


.btn-hungry {
    width: auto;
    margin: 0 5px;
}


.maincontainer {
    margin-top: 120px;
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.flip-card {
    transform: rotateY(180deg);
}

.front, .back {
    padding: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}

.front {
    background-color: #ffffff;
    color: #797979;
}

.back {
    background-color: #ffffff;
    color: #797979;
    transform: rotateY(180deg);
}

/* big X button*/


.close {
    vertical-align: middle;
    border: none;
    color: inherit;
    border-radius: 50%;
    background: transparent;
    position: relative;
    width: 32px;
    height: 32px;
    top: -10%;
    opacity: 0.6;
}
.close:hover {
    opacity: 1;
    color: red;
    background: rgba(128, 128, 128, 0.5);
}
.close:active {
    background: rgba(128, 128, 128, 0.9);
}
/* tines of the X */
.close::before,
.close::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 20px;
    width: 4px;
    background-color: currentColor;
}
.close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}
.close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.unwanted_list {
    margin: 0;
}