{% extends 'base.html' %}

{% block content %}


    <div class="container">
        <div class="d-flex flex-wrap justify-content-around">
            {% for restaurant, users in food.items %}
                <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" name="food" value="{{ restaurant.id }}" />
                    <button class="home-btn" type="submit" name="out" value="{{ users.0.out }}">
                        <div class="user_card home-card">

                            <div class="d-flex justify-content-center">
                                {{ users.count }}
                            </div>

                            {% if users.0.out %}
                                <p>გასვლა</p>
                            {% else %}
                                <p>გამოძახება</p>
                            {% endif %}

                            <div class="d-flex justify-content-center mb-4">
                                <h3 id="form-title">{{ restaurant }}</h3>
                            </div>

                            {% for user in users %}
                                <div class="d-flex justify-content-center">
                                    <p>{{ user }}</p>
                                </div>
                            {% endfor %}

                        </div>
                    </button>
                </form>
            {% endfor %}
        </div>
    </div>


{% endblock %}
