{% extends 'base.html' %}

{% block content %}
        <div class="container h-100">
            <div class="d-flex justify-content-center h-100">
                <div class="user_card">
                    <div class="d-flex justify-content-center">

                        <h3 id="form-title">პაროლის შეცვლა</h3>

                    </div>
                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div id="form_errors">
                                {% for key, value in form.errors.items %}
                                    <strong>{{ value }}</strong>
                                {% endfor %}
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}

                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="form-group">
                                        <label class="small mb-1" for="id_old_password">ძველი პაროლი</label>
                                        <input type="password" name="old_password" autocomplete="new-password"
                                               class="form-control" required id="id_old_password"
                                               placeholder="შეიყვანეთ ძველი პაროლი"/>
                                        <span>
                                                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="form-group">
                                        <label class="small mb-1" for="id_new_password1">ახალი პაროლი</label>
                                        <input type="password" name="new_password1" autocomplete="new-password"
                                               class="form-control" required id="id_new_password1"
                                               placeholder="შეიყვანეთ ახალი პაროლი"/>
                                        <span>
                                                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="form-group">
                                        <label class="small mb-1" for="id_new_password2">ახალი პაროლის
                                            დადასტურება</label>
                                        <input type="password" name="new_password2" autocomplete="new-password"
                                               required id="id_new_password2" class="form-control"
                                               placeholder="გაიმეორეთ ახალი პაროლი"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="form-group  d-flex justify-content-center mt-3 mb-1">
                                        <button class="btn btn-danger" type="submit">
                                            განახლება
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

{% endblock %}